<!DOCTYPE html>
<html>
<head>
    <title>Green Strips</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/styleadvertise1.css">
    <link rel="stylesheet" href="/static/style/styleadvertise.css">
</head>

<body>

<!--snackbar to show confirmations or error messages-->
<div id="snackbar"></div>
<div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="flash show">
        {{ message }}
        <button class="closebtn" onclick="this.parentElement.style.display='none';">&times;</button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-black" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
           onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="/#home" class="w3-bar-item w3-button">HOME</a>
        <a href="/#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
        <a href="/#work" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> OUR WORK</a>
        <a href="/#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
        <a href="#" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-newspaper-o"></i> ADVERTISE</a>
        <!--<a href="/buyForm" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-shopping-bag"></i> BUY</a>
         additions made to code part 1. Part 2 starts from line 72 -->

        <div class="w3-dropdown-hover w3-hide-small w3-right" id="dropdown">
            <button class="w3-padding w3-button" style="min-width:140px">Hello {{ user_data }}
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/userDetails" class="w3-bar-item w3-button">User Details</a>
                <a href="/cart" class="w3-bar-item w3-button">Cart Details</a>
                <a href="/order" class="w3-bar-item w3-button">Order Details</a>
                <button id="navSignout" class="w3-bar-item w3-button" type="button"
                        onclick="SignOut();"> Sign Out
                </button>
            </div>
        </div>
        <!-- end -->
        <button id="navSignin" onclick="window.location='/login';"
                class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red;"><i class="fa fa-sign-in "></i> SIGN
            IN
        </button>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium">
        <a href="#home" class="w3-bar-item w3-button">HOME</a>
        <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
        <a href="#work" class="w3-bar-item w3-button" onclick="toggleFunction()">OUR WORK</a>
        <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
        <a href="#" class="w3-bar-item w3-button"> ADVERTISE</a>
        <a href="products" class="w3-bar-item w3-button w3-hide-small"> BUY</a>

        <!-- Part 2 -->
        <div class="dropdown w3-bar-item">
            <button class="dropbtn w3-bar-item w3-button w3-hide-small w3-right w3-hover-red"> ACCOUNT</button>
            <div class="dropdown-content">
                <a href="/userDetails">User Details</a>
                <a href="/cart">Cart Details</a>
                <a href="/order">Order Details</a>
            </div>
        </div>
        <!-- end -->

        <button id="snavSignin" onclick="toggleFunction(); window.location='/login';"
                class="w3-bar-item w3-button" type="button">SIGN IN
        </button>
        <button id="snavSignout" class="w3-bar-item w3-button" type="button" onclick="toggleFunction();SignOut();"> SIGN
            OUT
        </button>
    </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-other w3-display-container w3-opacity-min">
    <div class="w3-display-middle" style="white-space:nowrap;border:0.4em double white;padding:0.5%">
        <span class="w3-center w3-padding-large w3-wide w3-animate-opacity w3-xxlarge w3-text-white w3-wide">ADVERTISE</span>
    </div>
</div>
<!--Advertise page starts here-->
<center><h2 style="padding:1%">&emsp;Select products as per your requirement</h2></center>
<br/>
<div class="row w3-row w3-row-padding">
    {% for prod in prods%}
    <div class="column w3-col m4">
        <div class="card">
            <form action="/addToCartAdvertise/{{ prod['p_id'] }}" method="POST">
                <div class="bag-image w3-center">
                    <img src="../static/img/prod/{{ prod['image'] }}" alt="{{ prod['p_name'] }}">
                </div>
                <div class="info container">
                    <h2>{{ prod["p_name"] }}</h2>
                    <p class="pid" style="display: none">{{ prod["p_id"] }}</p>
                    <p>PRODUCT DESCRIPTION</p>
                    <p style="white-space: pre-line">{{ prod["description"] }}</p>
                    <div> Advertising Price: Rs. {{ prod["price_ad"] }}</div>
                    <div> Buying Price: Rs. {{ prod["price_buy"] }}</div>
                    <br/><br/>
                    a. Quantity (between 1 and 100):
                    <input type="number" name="qty" min="1" max="100" required><br/><br/>
                    b. Select Package Type:<br/>
                    <div>
                        <input type="radio" name="side-book" value="ssa" required checked> ADVERTISE AND BUY<br/>
                        <input type="radio" name="side-book" value="bsa" required> ADVERTISE <br/>
                        <input type="radio" name="side-book" value="b" required> BUY <br/>
                    </div>
                    <br/>
                    <!--<button class="button cart" onclick="addToCart(this)">Add to cart</button>-->
                    <div class="w3-center"><input type="submit" class="button cart" value="Add to cart"></div>
                    <br/>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}

</div>

<!--Advertise page ends here-->
<div class="w3-center">
    <button class="submit-btn w3-padding-large" onclick="window.location='/cart';">GO TO CART</button>
</div>

</br>
<footer>
    &copy; Green Strips. All Rights Reserved.</p>
</footer>
<script src="/static/scripts/script.js"></script>
<!--<script src="/static/scripts/adv.js"></script>-->
<script src="/static/scripts/jquery-3.4.1.min.js"></script>
</body>
</html>
