<html>
    <body>
        <div>
            {% for prodcuts in cart_prods %}
                <form action="/cart_item/remove/{{ prodcuts['cart_item_id'] }}" method="POST">
                    <p>{{ prodcuts['cart_item_id'] }}</p>
                    <p>{{ prodcuts['product_id'] }}</p>
                    <p>{{ prodcuts['qty'] }}</p>
                    <p>{{ prodcuts['purchase_type'] }}</p>
                    <input type="submit" value="remove">
                </form>
                <hr>
            {% endfor %}
        </div>
        <div>
            <form action="/checkout" method="POST">
                <input type="submit" value="CHECK OUT">
            </form>
        </div>
    </body>
</html>