<!DOCTYPE html>
<html>
<head>
    <title>Green Strips</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style/style.css">
    <link rel="stylesheet" href="/static/style/styleadvertise1.css">
</head>

<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-black" id="myNavbar">
        <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);"
           onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
        </a>
        <a href="/#home" class="w3-bar-item w3-button">HOME</a>
        <a href="/#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
        <a href="/#work" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> OUR WORK</a>
        <a href="/#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i>
            CONTACT</a>
        <a href="/advertise" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-newspaper-o"></i>
            ADVERTISE</a>
        <!--<a href="/buyForm" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-shopping-bag"></i> BUY</a>
         additions made to code part 1. Part 2 starts from line 72 -->

        <div class="w3-dropdown-hover w3-hide-small w3-right" id="dropdown">
            <button class="w3-padding w3-button" style="min-width:140px">Hello {{ user_data['f_name'] }}
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/userDetails" class="w3-bar-item w3-button">User Details</a>
                <a href="/cart" class="w3-bar-item w3-button">Cart Details</a>
                <a href="/order" class="w3-bar-item w3-button">Order Details</a>
                <button id="navSignout" class="w3-bar-item w3-button" type="button"
                        onclick="SignOut();"> Sign Out
                </button>
            </div>
        </div>
        <!-- end -->
        <button id="navSignin" onclick="window.location='/login';"
                class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red;"><i class="fa fa-sign-in "></i> SIGN
            IN
        </button>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium">
        <a href="/#home" class="w3-bar-item w3-button">HOME</a>
        <a href="/#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
        <a href="/#work" class="w3-bar-item w3-button" onclick="toggleFunction()">OUR WORK</a>
        <a href="/#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
        <a href="/advertise" class="w3-bar-item w3-button"> ADVERTISE</a>

        <!-- Part 2 -->
        <div class="dropdown w3-bar-item">
            <button class="dropbtn w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">ACCOUNT</button>
            <div class="dropdown-content">
                <a href="/userDetails">User Details</a>
                <a href="/cart">Cart Details</a>
                <a href="/order">Order Details</a>
            </div>
        </div>
        <!-- end -->

        <button id="snavSignin" onclick="toggleFunction(); document.getElementById('id01').style.display='block';"
                class="w3-bar-item w3-button" type="button">SIGN IN
        </button>
        <button id="snavSignout" class="w3-bar-item w3-button" type="button" onclick="toggleFunction();SignOut();"> SIGN
            OUT
        </button>
    </div>
</div>
<!-- First Parallax Image with Logo Text-->
<div class="bgimg-other w3-display-container w3-opacity-min">
    <div class="w3-display-middle w3-center" style="border:0.4em double white;padding:0.5%">
        <span class="w3-xxlarge w3-text-white w3-wide">User Details</span>
    </div>
</div>

<!-- Container (Form Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
    <h3 class="w3-center">User details.</h3>
    <form action="/edit_user" method="post">
        1. First Name:<br/>
        <input type="text" name="f_name" value="{{ user_data['f_name'] }}"><br/><br/>
        2. Last Name:<br/>
        <input type="text" name="l_name" value="{{ user_data['l_name'] }}"><br/><br/>
        3. Organisation name:<br/>
        <input type="text" name="org_name" value="{{ user_data['organization'] }}"><br/><br/>
        4. Address:<br/>
        <input type="text" name="address" value="{{ user_data['address'] }}"><br/><br/>
        5. Email:<br/>
        <input type="email" name="email" value="{{ user_data['email'] }}"><br/><br/>
        6. Phone:<br/>
        <input type="number" name="phone" value="{{ user_data['phone'] }}"><br/><br/>
        <br/>
        <div class="w3-center">
            <button class="submit-btn w3-padding-large" type="submit">EDIT DETAILS</a>
            </button>
        </div>
    </form>
</div>
<footer>
    &copy; Green Strips. All Rights Reserved.</p>
</footer>
<script src="/static/scripts/script.js"></script>
<script src="/static/scripts/jquery-3.4.1.min.js"></script>
</body>
</html>
