nav a{
	display:inline-block;

	margin-top:5%;
	margin-left:45%;
	margin-right:40%;
	border-radius:5px;
	text-decoration:none;
	padding:1%;
	color:#000000;
	width:11%;
	height:40px;
	background:rgba(218,234,213,0.60);
	text-align:center;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bag-image{
  width:auto;
}
.container {
  padding: 10px 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 2px 20px;
  margin: 1px 0;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: auto;
}

.button:hover {
  background-color: #555;
}